* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: seashell;
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    border-radius: 8px 8px 0 0;
    background: slateblue;
}
.search input {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    width: 200px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.wrapper {
    display: grid;
    grid-template-areas:
"m a i"
"m a i"
"m f p";
    grid-template-columns: 200px 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.menu {
    grid-area: m;
    border: 2px solid dimgray;
    background-color: seashell;
    padding: 10px;
}
.menu ul {
    list-style: none;
    margin-top: 10px;
}
.menu li {
    padding: 6px 0;
    color: darkslateblue
}
.ava {
    padding: 5px;
    grid-area: a;
    border: 2px solid red;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}
.ava img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.ava button {
    padding: 6px 12px;
    color: darkblue;
    width: 80%;
}

.info {
    padding: 20px;
    grid-area: i;
    border: 2px solid green;
    background-color: white;
}
.info h2 {
    margin-bottom: 10px;
}
.info ul {
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
}
.info ul li {
    margin: 6px 0;
}

.stats {
    display: flex;
    gap: 40px;
    margin-top: 15px;
    flex-wrap: wrap;
}
.friends {
    grid-area: f;
    padding: 20px;
    border: 2px purple;
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}
.avatars img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
.photos {
    grid-area: p;
    border: 2px saddlebrown;
    background-color: white;
    padding: 10px;
}
.gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.gallery img {
    width: 120px;
    height: 120px;
}
